html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #eaf4ff;
}

.hero {
    padding: 80px 0;
}

.card {
    transition: 0.25s;
}

    .card:hover {
        transform: translateY(-8px);
    }

.badge {
    margin: 2px;
}

footer {
    margin-top: 100px;
}

.profile-photo {
    border-radius: 50%;
}

/*.project-image {
    height: 250px;
    object-fit: cover;
}
*/
.project-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.project-card {
    border: 1px solid #d0d7de;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navbar .container {
    justify-content: flex-start;
}

.navbar .navbar-nav {
    margin-left: 2rem;
}